@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins:wght@400;600&family=Rowdies&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* nav------------------------------------------- */
header{
    width: 100%;
    height: 7vh;
    background: #3d3d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    opacity: 0.9;
}
header figure img{
    max-width: 75px;
    height: 75px;
    border-radius: 50%;
    padding-left: 10px;
}
header nav a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 15px;
}
header nav a i{
    padding-right: 5px;
}
header nav a:hover{
    color: rgb(0, 238, 218);
    border-bottom: 2px solid rgb(0, 238, 218);
}
/* Primera seccion ---------------------------------------- */
.profile{
    width: 100%;
    min-height: 93vh;
    display: flex;
    background: linear-gradient(to right, rgb(19, 134, 211), rgb(0, 60, 255));

}
.profile div{
    width: 50%;
}
.profile div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile div img{
    max-width: 60%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* segunda seccion ----------------------------------------- */
.content{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(19, 134, 211), rgb(0, 60, 255));
}
/* footer------------------------------------------------------------------ */
footer{
    color: white;
    width: 100%;
    min-height: 9vh;
    background: rgb(0, 0, 0);
}
footer div{
    font-size: 20px;
    display: flex;
    justify-content:center;
}
footer hr{
    width: 40%;
    height: 4px;
    background: white;
}
footer div a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 0 25px 0 25px;
}
footer div a:hover, hr:hover{
    border-bottom: 2px solid rgb(0, 238, 218);
    color: rgb(0, 238, 218);

}